@import "src/App";

.Profile__header {

  display: flex;
  justify-content:center;
  margin-top :15vw;


}
.Profile__avatar {
  margin-bottom: 50px;
  background: black;
  border-radius: 50%;
}
.Profile__content {

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}