@import 'src/App';

.Header__wrapper {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0.1px;

}
.Header {
  height: 70px;
  background: #ffffff ;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  border: 1px solid $textGrayColor;
  //box-shadow: $shadow;


  &__Logo {
    text-decoration: none;
  }
}
