@import 'src/App';
.Header {
  height: 60px;
  background: linear-gradient($textBlackColor, $textGrayColor, $textGrayColor, #ffffff );
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border: 1px solid $textGrayColor;
  box-shadow: $shadow;


  &__Logo {
    text-decoration: none;
  }
}
