@import "src/App";

.PostProfile {
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  h1 {
    font-family: $cursiveFont;
    font-size: 40px;
  }

  img{
    width: 50vw;
    height: 50vw;
  }

  }
