.Avatar {
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
  }

  &.sm {
    width: 30px;
    height: 30px;
  }

  &.md {
    width: 45px;
    height: 45px;
  }

  &.lg {
    width: 170px;
    height:  170px;
  }
}
