@import 'src/App';
.Feed {
  position: relative;
  top: 4.8vw;

  &__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 3%;

    span {
      padding-left: 5px;
      top: 1022px;
    }
  }

  &__logo img {
    height: 4%;
    width: 4%;
    margin-left: 3%;

    &:hover {
      opacity: 50%;
    }
  }

  &__likes {
    font-size: 18px;
    margin-left: 3%;
    font-weight: bold;

  }


  &__content {
    font-size: 16px;
    margin-left: 3%;
  }

  //--responsive--
  &__wrapper {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 60%;
    }
  }
}
