@import 'src/App';
.Menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px ;
}
.search {
  width: 100%;
  height: 100%;
  background-color: $backgroundMainColor;
}
.searchPage {
}

.Menu__wrapper .icon{
position: relative;
  top : 5px;
  left: 2.5vw;
}


li{
  list-style: none;
  display: inline-block;
}
.icon {
  color : $textBlackColor;
  margin-right: 10px;

  &:hover {
    opacity: 50%;
  }
}