@import 'src/App';

.Login{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $textGrayColor;
  width: 400px;
  margin : 30px auto;
  padding: 15px;
  text-align: left;
  box-shadow: $shadow;
  color: $textBlackColor;

  &__title{
    font-family: $cursiveFont;
    font-size: 24px;
  }
  .form-group {
    margin-top: 15px;
  }

  label {
      font-family: $cursiveFont;
      display: inline-block;
      font-size : 14px;
      margin-bottom: 4px;
  }
  input {
    position: static;
    font-family: Montserrat, sans-serif;
    width: 100%;
    height: 30px;
    line-height: 1em;
    border: 1px solid $textGrayColor;
    border-radius: 4px;
    background-color: $backgroundMainColor;
  }

  &__btn {
    margin-top: 15px;
    width: 100%;
    height: 30px;
    background: $preValidationColor;
    font-size: 18px;
    color: $validateColor;
    border: 1px solid $validateColor;
    border-radius: 4px;
    transition: background-color 400ms ease-in-out;
    cursor: pointer;
    &:hover {
      background: $validateColor;
      border: 1px solid $preValidationColor;
      color: #ffffff;
    }
  }
  .error {
    font-family: Montserrat, sans-serif;
    color: #cb1212;
    font-size: 10px;
    margin-top: 10px;
    font-weight: bold;
  }

}
