@import 'src/App';
.Feed {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px 10px;
  margin: 10px 2vw;
  @media screen and (min-width: 768px) {
    flex-direction: row;

  }


  &__author {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 3%;

    span {
      padding-left: 5px;
      top: 1022px;
    }
  }

  &__logo img {
    height: 4%;
    width: 4%;
    margin-left: 3%;
    &:hover {
      opacity: 50%;
    }
  }

  &__likes {
    font-size: 10px;
    margin-left: 3%;
    font-weight: bold;

  }


  &__content {
    font-size: 12px;
    margin-left: 3%;
  }


}
.post {
  width: 30vw;
  box-shadow: $shadow;
  overflow: hidden;
  border-radius: 5px;
  margin: 0px auto;


}
.image {
  width: 30vw;
  height: 20vw;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
  overflow: hidden;


  &:hover {
    transform: scale(1.01);
  }

}
.userNameLink {
  text-decoration: none;
  color: $textBlackColor;
}