@import 'src/App';

.del-comment-btn {

  border: none;
  color: darkred;
  background: #ffffff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  border-radius: 4px;
  height: 100%;
  margin-left: 60px;

  &:hover {
    color: #ffffff;
    background: darkred;
  }
}