//Color Variables
$backgroundMainColor: #f8f8f8;
$textBlackColor: #262626;
$textGrayColor: rgba(208, 208, 208, 0.36);
$preValidationColor: #b2dffc;
$validateColor: #0095f6;
$cursiveFont:  'Dancing Script', cursive;
$shadow: 0 0 5px 5px #dddddd;

.App {
  background-color: $backgroundMainColor;
}

.searchPage {
  position: relative;
  top: 10vw;

}



